body {
    font-family: 'Open Sans', sans-serif;
}

/* Section_1 */
.section_1 {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    gap: 100px;
    justify-content: space-between;

}

#head_img {
    width: 650px;
    height: 850px;
    margin-right: 250px;
    align-self: last baseline;
}

.head_column {
    margin-left: 250px;
    margin-top: 170px;
    margin-bottom: 140px;
}

.head_title {
    width: 800px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.head_discription {
    max-width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.head_button {
    margin-top: 0px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 40px;
    align-items: flex-start;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* section_2 */
.section_2 {
    margin-top: 170px;

}

.sec_2_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.sec_2_discription {
    max-width: 600px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.row_2 {
    display: flex;
    justify-content: center;
    gap: 25px;
}


.row_2 .sec_2_pic .pic_slyle_1 {
    width: 450px;
    height: 630px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}
.row_2 .sec_2_pic .pic_slyle_2 {
    width: 510px;
    height: 590px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
    padding-top: 110px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
}
.row_2 .sec_2_pic .pic_slyle_3{
    width: 450px;
    height: 680px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 70px;
    padding-left: 75px;
    padding-right: 75px;
}


.row_2 .sec_2_pic .pic_dis {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Section_3 */
