body {
    font-family: 'Open Sans', sans-serif;
}

/* Section_1 */
.section_1 {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    gap: 100px;
    justify-content: space-between;

}

#head_img {
    width: 650px;
    height: 850px;
    margin-right: 250px;
    align-self: last baseline;
}

.head_column {
    margin-left: 250px;
    margin-top: 170px;
    margin-bottom: 140px;
}

.head_title {
    width: 800px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.head_discription {
    max-width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.head_button {
    margin-top: 0px;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 40px;
    align-items: flex-start;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* section_2 */
.section_2 {
    margin-top: 170px;

}

.sec_2_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.sec_2_discription {
    max-width: 600px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.row_2 {
    display: flex;
    justify-content: center;
    gap: 25px;
}


.row_2 .sec_2_pic .pic_slyle_1 {
    width: 450px;
    height: 630px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

.row_2 .sec_2_pic .pic_slyle_2 {
    width: 510px;
    height: 590px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 110px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
}

.row_2 .sec_2_pic .pic_slyle_3 {
    width: 450px;
    height: 680px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 70px;
    padding-left: 75px;
    padding-right: 75px;
}


.row_2 .sec_2_pic .pic_dis {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Section_3 */

.sec_3_container {
    margin-top: 120px;
    width: 1870px;
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.sec_3_img {
    width: 800px;
}

#sec_3_title {
    width: 600px;
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 200px;

}

/* section_4 */
.section_4 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;

}

.section_group {
    width: 1870px;
    height: 320px;
    display: flex;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
}

.sec_4_container {
    text-align: center;
    margin-top: 100px;
}

.sec_4_title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* Section_5 */
.section_5 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    gap: 180px;
}

.sec_5_column1 {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 160px;
    margin-left: 400px;
}

.sec_5_title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;

}

#title_part {
    color: #E55473;
}

.sec_5_discription {
    max-width: 590px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.sec_5_img {
    width: 320px;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 450px;
}

/* section_6 */
.section_6 .sec_6_row1 {
    margin-top: 130px;
}

.section_6 .sec_2_title {
    margin-bottom: 20px;
}

.sec_6_img {
    width: 350px;
    height: 400px;
}

.section_6 .row_2 {
    margin-bottom: 120px;
}

/* Section_7 */
.section_7 {
    background: url('../Flower Asset/Rectangle 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1480px;
    height: 450px;
    border-radius: 8px;
    text-align: center;
    background-position: center;

}

.sec_7_container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

#sec_7_email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    padding-left: 25px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 20px;
}

.sec_7_container .section_7 .sec_2_title {
    margin-top: 120px;
    margin-bottom: 15px;
}

.sec_7_container .section_7 .sec_2_discription {
    margin-bottom: 50px;
}

/* footer */
footer {
    background: #111010;
}

footer div {
    text-align: center;
}

footer h3 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 130px;
    margin-bottom: 25px;
}

#foot_title {
    color: #E55473;
}

#foo_discription {
    width: 620px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

#last_line {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 130px;
}